.clients {
  background-color: #dedede;
  & > div {
    justify-content: center;
    flex-wrap: wrap;
    div {
      flex: 20rem 0 1;
      box-shadow: 0.8rem 0.8rem 1rem rgba(0, 0, 0, 0.2);
    }
  }
}
