


@media(min-width: 35em){

  .clients {
    background-color: #dedede;
    & > div {
      justify-content: center;
      flex-wrap: wrap;
      div {
        flex: 20rem 0 1;
        box-shadow: 0.8rem 0.8rem 1rem rgba(0, 0, 0, 0.2);
      }
    }
  }

}

@media(max-width: 35em){

  .clients {
    background-color: #dedede;
    padding: 4rem;

    & > div {
      justify-content: center;
      flex-wrap: wrap;

      div {
        flex: 20rem 0 1;
        box-shadow: 0.8rem 0.8rem 1rem rgba(0, 0, 0, 0.2);
        margin-bottom: 4rem;
      }
    }
  }
  
}
