.pageheader {
  position: relative;
  padding-block: 5rem;

  & > div {
    height: 20rem;
    align-items: center;
    line-height: 5rem;
    h1 {
      font-size: 6rem;
      font-weight: 900;
      color: $white;
      animation: animate-header-h1 1s 2s cubic-bezier(0, 0.5, 0, 1) forwards;
      opacity: 0;
    }
    h4 {
      font-size: 2rem;
      color: $yellow;
      animation: animate-header-h4 1s 3s cubic-bezier(0, 0.5, 0, 1) forwards;
      opacity: 0;
    }
  }

  @keyframes animate-header-h1 {
    0% {
      opacity: 0;
      transform: scale(0.1rem);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }

  @keyframes animate-header-h4 {
    0% {
      opacity: 0;
      transform: scale(0.1rem);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
      ),
      url('/pageheader.jpg');
    background-size: cover;
    background-position: center;
    animation: animate-header 1s 1s cubic-bezier(0, 0.5, 0, 1) forwards;
    opacity: 0;
  }

  @keyframes animate-header {
    0% {
      opacity: 0;
      transform: translateY(-5rem);
    }

    100% {
      opacity: 1;
      transform: 1;
    }
  }
}

.imagebg {
  position: relative;
  padding-block: 5rem;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
      ),
      url('/bgimg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    z-index: -1;
  }
  color: white;
}

.servbx {
  display: flex;
  gap: 2rem;
  & > div:nth-of-type(1) {
    width: 8rem;
    height: 8rem;
    background-color: $yellow;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & > div:nth-of-type(2) {
    display: flex;
    align-items: center;
    height: 8rem;
    h4 {
      font-size: 2rem;
    }
  }
}

.yellowbox {
  padding-block: 5rem;
  background-color: $yellow;
}

.whitebox {
  padding-block: 5rem;
  background-color: $white;
}

.servcard {
  background-color: white;
  color: black;
  text-align: center;
  padding: 2rem;
}

.divide {
  width: 7rem;
  margin: 0 auto;
  margin-block: 1rem;
  border-bottom: solid 0.3rem $yellow;
}

.contbox {
  background-color: $yellow;
  padding: 2.4rem;
  text-align: center;
  transform: skew(-4deg);
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.3);
  i {
    display: grid;
    place-items: center;
    color: white;
    font-family: 3rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: solid 0.3rem white;
    margin: 0 auto;
  }
  h3 {
    color: white;
    font-size: 2.3rem;
    margin-block: 1.5rem;
  }
  & > div {
    font-size: 1.6rem;
  }
}

.contactform {
  padding: 4rem;
  width: 100%;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
  input {
    width: 100%;
    border: 0.1rem #ccc solid;
    outline: none;
    padding: 1.2rem;
    margin-bottom: 1.5rem;

  }
  input:focus + label{
    margin-top: -2.7rem;
    font-size: 1rem;
    transition: .2s;
  }


  input:not(:placeholder-shown) + label{
    margin-top: -2.7rem;
    font-size: 1rem;
    transition: .2s;
  }

  button {
    background-color: $yellow;
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    width: 10rem;
    margin-top: 2rem;
    cursor: pointer;
    &:hover {
      transition: 0.2s;
      background-color: transparent;
      border: solid 0.1rem #555;
    }
  }
  textarea {
    width: 100%;
    border: 0.1rem #ccc solid;
    outline: none;
    height: 10rem;
    padding: 1.2rem;
  }
  h4 {
    margin-bottom: 1.2rem;
  }
  .form-control {
    position: relative;
    & > label {
      position: absolute;
      top: 0.8rem;
      left: 1rem;
      pointer-events: none;
    }
  }
}

.contact {
  padding-block: 5rem;
  & > div:nth-of-type(1) {
    margin-bottom: 5rem;
  }
}

.contact-form-area {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  padding-inline: 7rem;
  & > div {
    flex: 12rem 1 1;
    height: auto;
  }
  iframe {
    border: 0;
  }
}

.products {
  padding-block: 5rem;
}

.clients {
  padding-block: 5rem;
  & > div {
    div {
      height: 20rem;
    }
  }
}


.err-box{
  color: red;
  
}
