@media (min-width: 35em) {
  .container {
    margin-inline: auto;
    padding-inline: 7rem;
    display: flex;
  }

  .flex {
    display: flex;
  }
  .justify-content {
    justify-content: center;
  }
  .align-items {
    align-items: center;
  }
}

.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media {
  display: flex;
  gap: 2rem;
  margin-inline: auto; 
  margin-block: 3rem;
  width: max-content;

  .fa {
    display: flex;
    width: 3rem;
    height: 3rem;
    border: solid 0.1rem $white;
    border-radius: 50%;
    color: $white !important;
    align-items: center;
    justify-content: center;
  }

  .headeroverlay{
    width: 100%; 
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
  }
}
